/* this file is loaded by index.html and styles the page */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}